#login
  #googleAuth
    .btn.btn-default(ng-click="login.authenticate('google')") Google
  #facebookAuth
    .btn.btn-default(ng-click="login.authenticate('facebook')") Facebook
  #linkedinAuth
    .btn.btn-default(ng-click="login.authenticate('linkedin')") LinkedIn
  #githubAuth
    .btn.btn-default(ng-click="login.authenticate('github')") Github
